$white: #f1f2f6;
$grey-lightest: #dfe4ea;
$grey-lighter: #ced6e0;
$grey-light: #a4b0be;
$grey: #57606f;
$grey-dark: #747d8c;
$grey-darker: #2f3542;
$black: #1a1e27;

$orange: #eccc68;
$orange-dark: #ffa502;

$pink: #ff7f50;
$pink-dark: #ff6348;

$red: #ff6b81;
$red-dark: #ff4757;

$green: #7bed9f;
$green-dark: #2ed573;

$blue: #70a1ff;
$blue-dark: #1e90ff;

$purple: #5352ed;
$purple-dark: #3742fa;
